# Environment name
environment = "production"

# Creation date for tagging
created_date = "20250820"

# AWS Profile
aws_profile = "default"

# DynamoDB table name
dynamodb_table_name = "table-your-project-main"